{{#any items}}
    <h>{{translateHeading headingKey items}}</h>
    <section>
        {{#each items}}
            {{#withOnly symbol=this}}
                {{#embed 'symbol-detail'}}{{/embed}}
            {{/withOnly}}
        {{/each}}
    </section>
{{/any}}
