{{!--
    Copyright 2014-2019 Google LLC

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
--}}
{{#if (config 'components.summary')}}
    {{!-- TODO: register this ID with a helper so we don't repeat it --}}
    <section id="summary">
        {{!--
            Either constructors (for a class) or symbols exported by the module (for a module)

            TODO:
            + this doesn't appear to be showing up in the generated docs
            + if all the constructors are tagged with `hideconstructor`, we should hide this
              section
        --}}
        {{#block 'summary-classes-exports'}}
            {{#withOnly items=headingDocs headingKey=headingKey}}
                {{#embed 'summary-block'}}{{/embed}}
            {{/withOnly}}
        {{/block}}

        {{#block 'summary-child-classes'}}
            {{#withOnly items=members.classes headingKey='childClasses'}}
                {{#embed 'summary-block'}}{{/embed}}
            {{/withOnly}}
        {{/block}}

        {{#block 'summary-child-interfaces'}}
            {{#withOnly items=members.interfaces headingKey='childInterfaces'}}
                {{#embed 'summary-block'}}{{/embed}}
            {{/withOnly}}
        {{/block}}

        {{#block 'summary-namespaces'}}
            {{#withOnly items=members.namespaces headingKey='namespaces'}}
                {{#embed 'summary-block'}}{{/embed}}
            {{/withOnly}}
        {{/block}}

        {{#block 'summary-properties'}}
            {{#withOnly items=members.properties headingKey='properties'}}
                {{#embed 'summary-block'}}{{/embed}}
            {{/withOnly}}
        {{/block}}

        {{#block 'summary-functions'}}
            {{#withOnly items=members.functions headingKey='functions'}}
                {{#embed 'summary-block'}}{{/embed}}
            {{/withOnly}}
        {{/block}}

        {{#block 'summary-typedefs'}}
            {{#withOnly items=members.typedefs headingKey='typedefs'}}
                {{#embed 'summary-block'}}{{/embed}}
            {{/withOnly}}
        {{/block}}

        {{#block 'summary-events'}}
            {{#withOnly items=members.events headingKey='events'}}
                {{#embed 'summary-block'}}{{/embed}}
            {{/withOnly}}
        {{/block}}
    </section>
{{/if}}
