{{!--
    Copyright 2014-2020 Google LLC

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
--}}
{{#if (config 'components.summary')}}
    {{!-- TODO: Register this ID with a helper so we don't repeat it. --}}
    <section id="summary">
        {{!--
            Either constructors (for a class) or symbols exported by the module (for a module).

            TODO:
            + This doesn't appear to be showing up in the generated docs.
            + If all the constructors are tagged with `hideconstructor`, we should hide this
              section.
        --}}
        {{#> block-summary-classes-exports}}
            {{> summary-block items=headingDocs headingKey=headingKey}}
        {{/block-summary-classes-exports}}

        {{#> block-summary-child-classes}}
            {{> summary-block items=members.classes headingKey='childClasses'}}
        {{/block-summary-child-classes}}

        {{#> block-summary-child-interfaces}}
            {{> summary-block items=members.interfaces headingKey='childInterfaces'}}
        {{/block-summary-child-interfaces}}

        {{#> block-summary-namespaces}}
            {{> summary-block items=members.namespaces headingKey='namespaces'}}
        {{/block-summary-namespaces}}

        {{#> block-summary-properties}}
            {{> summary-block items=members.properties headingKey='properties'}}
        {{/block-summary-properties}}

        {{#> block-summary-methods}}
            {{> summary-block items=members.functions headingKey='functions'}}
        {{/block-summary-methods}}

        {{#> block-summary-typedefs}}
            {{> summary-block items=members.typedefs headingKey='typedefs'}}
        {{/block-summary-typedefs}}

        {{#> block-summary-events}}
            {{> summary-block items=members.events headingKey='events'}}
        {{/block-summary-events}}
    </section>
{{/if}}
