{{!--
    TODO: removed "attribs" from the start of the heading; looks like we no longer set doc.attribs.
    need to restore that info, perhaps as badges instead of prefix text
--}}
<h id="{{id symbol}}">
    {{~#embed 'symbol-labels'}}{{/embed~}}
    {{~#with symbol~}}
        {{~#embed 'constructor-prefix'}}{{/embed~}}
        <span {{~cssClass '!symbol-name'}}>{{name}}</span>
        {{~#embed 'signature'}}{{/embed~}}
    {{~/with~}}
</h>
{{#with symbol}}
    {{#unless (config 'sourceFiles.singleLink')}}
        {{#embed 'source-file'}}{{/embed}}
    {{/unless}}
    {{#embed 'description'}}{{/embed}}
    {{#embed 'examples'}}{{/embed}}
    {{#embed 'params'}}{{/embed}}
    {{#embed 'properties'}}{{/embed}}

    <dl {{~cssClass '!dl-compact'}}>
        {{#embed 'augments'}}{{/embed}}
        {{#embed 'details'}}{{/embed}}
        {{#embed 'requires'}}{{/embed}}
        {{#embed 'fires'}}{{/embed}}
        {{#embed 'listens'}}{{/embed}}
        {{#embed 'listeners'}}{{/embed}}
        {{#embed 'throws'}}{{/embed}}
        {{#embed 'returns'}}{{/embed}}
    </dl>
{{/with}}
