{{!--
    Copyright 2014-2019 Google LLC

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
--}}
<section>
    {{#block 'symbol-content-classes'}}
        {{#withOnly items=members.classes headingKey='classes'}}
            {{#embed 'members-links'}}{{/embed}}
        {{/withOnly}}
    {{/block}}

    {{#block 'symbol-content-interfaces'}}
        {{#withOnly items=members.interfaces headingKey='interfaces'}}
            {{#embed 'members-links'}}{{/embed}}
        {{/withOnly}}
    {{/block}}

    {{#block 'symbol-content-namespaces'}}
        {{#withOnly items=members.namespaces headingKey='namespaces'}}
            {{#embed 'members-links'}}{{/embed}}
        {{/withOnly}}
    {{/block}}

    {{#block 'symbol-content-properties'}}
        {{#withOnly items=members.properties headingKey='properties'}}
            {{#embed 'members-details'}}{{/embed}}
        {{/withOnly}}
    {{/block}}

    {{#block 'symbol-content-methods'}}
        {{#withOnly items=members.functions headingKey='functions'}}
            {{#embed 'members-details'}}{{/embed}}
        {{/withOnly}}
    {{/block}}

    {{#block 'symbol-content-typedefs'}}
        {{#withOnly items=members.typedefs headingKey='typedefs'}}
            {{#embed 'members-details'}}{{/embed}}
        {{/withOnly}}
    {{/block}}

    {{#block 'symbol-content-events'}}
        {{#withOnly items=members.events headingKey='events'}}
            {{#embed 'members-details'}}{{/embed}}
        {{/withOnly}}
    {{/block}}
</section>
