{#-
  Copyright 2014 the Baseline Authors.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-#}

{%- set NUM_COLUMNS = 3 -%}

{%- macro content() %}
  {%- set groups = allLongnamesTree | groupDocletTree -%}
  {%- for groupName in groups | keys | sort %}
    {%- set group = groups[groupName] -%}
    <section>
      <div class="symbol-index-content">
        <h id="{{ idForString(href, groupName) }}">{{ groupName }}</h>
        <div class="symbol-index-section">
          {%- set batch_size = group | length -%}
          {%- if batch_size > NUM_COLUMNS -%}
            {%- set batch_size = (batch_size / NUM_COLUMNS) | round(0, 'ceil') -%}
          {%- endif -%}
          {%- set columns = group | batch(batch_size) -%}
          {%- for idx in range(0, NUM_COLUMNS) %}
            {%- set items = columns[idx] -%}
            {%- include 'symbol-index-section.njk' -%}
          {% endfor -%}
        </div>
      </div>
    </section>
  {% endfor -%}
{%- endmacro -%}

<div class="symbol-index">
  {%- if readme %}
    <section>
      <h>{{ 'headings.packageIndex' | translate }}</h>
      {{ content() }}
    </section>
  {%- else -%}
    {{ content() }}
  {% endif -%}
</div>
