{{!--
    Copyright 2014-2020 Google LLC

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
--}}
<section>
    {{!-- TODO: Ensure order stays in sync with `summary-blocks.hbs`. --}}
    {{#> block-symbol-content-classes}}
        {{> members-links items=members.classes headingKey='classes'}}
    {{/block-symbol-content-classes}}

    {{#> block-symbol-content-interfaces}}
        {{> members-links items=members.interfaces headingKey='interfaces'}}
    {{/block-symbol-content-interfaces}}

    {{#> block-symbol-content-namespaces}}
        {{> members-links items=members.namespaces headingKey='namespaces'}}
    {{/block-symbol-content-namespaces}}

    {{#> block-symbol-content-properties}}
        {{> members-details items=members.properties headingKey='properties'}}
    {{/block-symbol-content-properties}}

    {{#> block-symbol-content-methods}}
        {{> members-details items=members.functions headingKey='functions'}}
    {{/block-symbol-content-methods}}

    {{#> block-symbol-content-typedefs}}
        {{> members-details items=members.typedefs headingKey='typedefs'}}
    {{/block-symbol-content-typedefs}}

    {{#> block-symbol-content-events}}
        {{> members-details items=members.events headingKey='events'}}
    {{/block-symbol-content-events}}
</section>
