{{#extend 'symbol'}}
    {{#content 'title'}}
        <title>{{{pageTitle}}}</title>
    {{/content}}
    {{#content 'body-main-symbol-overview' mode='prepend'}}
        <h {{~cssClass 'page-title'}}>{{pageHeading}}</h>
    {{/content}}
{{/extend}}
