{#-
  Copyright 2014 the Baseline Authors.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-#}

{%- macro add_modifiers(item, demoted) -%}
  {%- if href == item.href and not demoted %} selected{% endif -%}
  {%- if href == item.href or href in item.descendantHrefs %} expanded{% endif -%}
{%- endmacro -%}

{#-
  TODO: This behavior is disabled until we come up with better styling and/or link text for the
  demoted item. The current behavior is to insert a tree item with normal appearance and the label
  "DOCLET_KIND details," but I don't think that works very well.
  ---
  When you click a tree item, it should either expand the item (if it has children) or open the page
  for that item. It should never do both, because that behavior can be confusing.

  To make this behavior possible, if a tree item is both expandable and a link, we move the link
  into a new tree item that's a child of the original tree item.
-#}
{%- macro make_demoted_link_item(item) -%}
  <jsdoc-tree-item {{- add_modifiers(item) -}}>
    {%- set l10nKey = 'kinds.' + item.kind -%}
    {%- set linkText %}{{ l10nKey | translate }} details{% endset -%}
    {%- set linkText = linkText | capitalize -%}
    {{ item.id | link(linkText) }}
  </jsdoc-tree-item>
{%- endmacro -%}

{%- macro should_demote(item) -%}
  {#- TODO: Re-enable this behavior. -#}
  {#- {%- if item.children | length and item.href -%}true{%- endif -%} -#}
{%- endmacro -%}

{%- macro make_tree_items(items) -%}
  {%- for item in items %}
    {% set demoted %}{{ should_demote(item) }}{% endset %}
    <jsdoc-tree-item {{- add_modifiers(item, demoted) -}}>
      {#- TODO: Re-enable this behavior when we re-enable demoted items. -#}
      {#-
      {% if not item.children | length %}
        {{ item.id | link(item.label) }}
      {% else %}
        {{ item.label }}
      {% endif %}
      -#}
      {{ item.id | link(item.label) }}
      {%- if item.children | length %}
        {%- if demoted %}
          {{ make_demoted_link_item(item) | safe }}
        {% endif -%}
        {{ make_tree_items(item.children) }}
      {% endif -%}
    </jsdoc-tree-item>
  {% endfor -%}
{%- endmacro -%}

{#
  TODO: add label and aria-labelledby attribute:
  https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/Heading_Elements#labeling_section_content
#}
<jsdoc-tree class="nav-tree">
  {{ make_tree_items(tocData) }}
</jsdoc-tree>
