{{#any params}}
    <section>
        <h>{{translateHeading 'parameters' params}}</h>
        {{#withOnly values=(reparentItems this 'params')}}
            {{#embed 'details-table'}}{{/embed}}
        {{/withOnly}}
    </section>
{{/any}}
