{{#any properties}}
    {{moveChildren this 'properties'}}
    <section>
        <h>{{translateHeading 'properties' properties}}</h>

        {{#withOnly values=properties}}
            {{#embed 'details-table'}}{{/embed}}
        {{/withOnly}}
    </section>
{{/any}}
