{{#any (filterProperties properties)}}
    <section>
        <h>{{translateHeading 'properties' properties}}</h>
        {{#withOnly values=(reparentItems this 'properties') isEnum=isEnum}}
            {{#embed 'details-table'}}{{/embed}}
        {{/withOnly}}
    </section>
{{/any}}
